<html>
<head>
	<title>Division | Online CALCULATOR YO</title>
</head>
<body>
	<h1>DIVIDE STUFF</h1>
<form action="/calculate_divide" method="POST">
<input type="number" name="num1" placeholder="Put a number here"> 
/
<input type="number" name="num2" placeholder="Put a number here">
<button type="submit">CALCULATE!!!</button>
</form>

</body>
</html>
