<html>
<head>
	<title>Multiplication | Online CALCULATOR YO</title>
</head>
<body>
	<h1>MULTIPLY STUFF</h1>
<form action="/calculate_add" method="POST">
<input type="number" name="num1" placeholder="Put a number here"> 
* 
<input type="number" name="num2" placeholder="Put a number here">
<button type="submit">CALCULATE!!!</button>
</form>

</body>
</html>
