<!DOCTYPE html>
<html>
<head>
<title>Bounty Quick</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheet.css">

</head>
	<body>
		<div class="container body">
			<div class="row main">
				<div class="row">
					<img src="whaleicon.png"><small>Whale posted a new bounty</small>
				
				
					<div class="col main">
						<img src="circleicon.png"> Bounty #96 on Helpful
							<div class="row">
							<span class="glyphicon glyphicon-eur" aria-hidden="true" style="color:#F3AB4C"></span> <span style="color:#F3AB4C">3,444 </span> 

							<span class="label label-default">Now</span>
							<span class="label label-default">HTML</span>
							<span class="label label-default">CSS</span>

							
							Now HTML CSS
							</div>

							<div class="row">
							Make the category list dropdown so it doesn't break the layout.
							</div>

							<div class="row">
							<span class="glyphicon glyphicon-record" aria-hidden="true" style="colol:black"></span> 

							<span class="label label-default">Comment</span>
							Comment Button
							</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>