<h1>CREATE POST</h1>

<form action="/make_post" method="POST">
<input type="text" name="post_title" placeholder="POST TITLE"> 
<input type="text" name="post_content" placeholder="POST CONTENT">
<input type="text" name="author" placeholder="POST AUTHOR">
<input type="text" name="category" placeholder="CATEGORY">
<button type="submit">SUBMIT</button> 

</form>