<html>
<head>
	<title>Online CALCULATOR YO</title>
</head>
<body>
	<h1>PUT SOME NUMBERS IN THESE BOXES.</h1>
<form action="/calculate" method="POST">
<input type="number" name="num1" placeholder="Put the first number here"> 
OPERATION
<input type="number" name="num2" placeholder="Put the second number here">

<button type="submit" name="operation" value="addition">ADD</button>
<button type="submit" name="operation" value="subtraction">SUBTRACT</button>
<button type="submit" name="operation" value="multiplicaton">MULTIPLY</button>
<button type="submit" name="operation" value="division">DIVIDE</button>


<!-- <button type="submit">CALCULATE!!!</button> -->
</form>

</body>
</html>
