<html>
<head>
	<title>Subtraction | Online CALCULATOR YO</title>
</head>
<body>
	<h1>SUBTRACT STUFF</h1>
<form action="/calculate_subtract" method="POST">
<input type="number" name="num1" placeholder="Put a number here"> 
-
<input type="number" name="num2" placeholder="Put a number here">
<button type="submit">CALCULATE!!!</button>
</form>

</body>
</html>
