<!DOCTYPE html>
<html>
	<head>
		<title>My Blog!</title>
	</head>

	<body>
		<section id="post">
			<article>
			<h1>A subject about things</h1>
			<h2>In a place, there's a time</h2>
			<img src="dollar.jpeg" alt="Dollar Coin">

			<p>I copied this from wikipedia. The 1804 dollar is one of the rarest and most valuable American coins. Proof coin sets, including the dollar, were created for use as diplomatic gifts carried by envoy Edmund Roberts on his trips to Siam and Muscat. Though the dollars are dated 1804, none were struck until the 1830s; the earlier date was a mistake based on misunderstood U.S. Mint records from 1804. Later, Mint officials struck some of the coins to trade with collectors in exchange for rare coins needed for the Mint's coin cabinet. In response to numismatic demand, Mint officials surreptitiously produced several coins, one of which lacked the correct edge lettering. The coins produced for the diplomatic mission, the dollar struck without edge lettering and the later examples with lettering are known as "Class I", "Class II" and "Class III" dollars, respectively. Altogether, only fifteen specimens are known to exist, and in 1999, one sold for $4.14 million, the highest price paid for any coin up to that time. These coins have been frequent targets of counterfeiting and other deceptions
			</p>

			<ul>
				<li>This is the best list</li>
				<li>The best list is this list</li>
				<li>Welcome to my list</li>
			</ul>

			<blockquote>FUN FACT: Not a fun fact.</blockquote>
			<%= @time %>
			<p> Written by: 
			<span style="color:red">NOT</span> <a href="https://www.giggles.com">Hsiu-Yi Lin</a></p>
			</article>
		</section>

		<section id="view_comment_section">
			<!-- PUT COMMENTS HERE -->
		</section>

		<section id="make_comment_section">
			<form>
				<input type="text" name="comment_name" placeholder="Your name"><br>
				<input type="text" name="comment_email" placeholder="Your e-email"><br>
				<input type="text" name="comment" placeholder="Write your comment here"><br>
				<button type="submit">SUBMIT</button> <br>
				<input type="checkbox" name="remember_me" value="yes"> Remember something about me
			</form>
		</section>

		<section id="contact_me">
		<!-- CONTACT ME -->
		</section>
	</body>
</html>
