* {
	border: 2px solid black;
}

.nav-row {
	max-height: 26px;
}

.searchbar {
	border-radius: 21px;

}

.navbar-default-new {
	background-color: transparent; 
	border-color: transparent;
}

.navbar-icon {
	max-width: 20px;
}

.infobar {
    width: 5%;
	margin: auto;
	text-align: center; 
}

