<!DOCTYPE HTML>
<html>
<head>
<title>Crazy Board | Treeeeello</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<body background="background.jpg">


<style="background-image: ""background.jpg">
</head>

	<body>
	<div class="container-fluid">
		<div class="row">
	    	<div class="col-sm-3"><!-- left controls -->
	    	<a class="btn btn-default" href="/" role="button"target="_blank">Home</a>
	    	<a class="btn btn-default" href="https://trello.com/tour" role="button" target="_blank">Tour</a>
	    	<a class="btn btn-default" href="http://blog.trello.com"q role="button" target="_blank">Blog</a>
	    	<form>
				<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
				</div>
			</form>
		
	    	</div>

		    <div class="col-sm-6">
		    <!-- trello logo -->
		    <img class="center-block" src="header_logo.png">	
		    </div>

		    <div class="col-sm-3"><!-- right controls -->
		    <a class="btn btn-default pull-right" href="http://blog.trello.com"q role="button" target="_blank">Log In</a>
		    <a class="btn btn-success pull-right" href="http://blog.trello.com"q role="button" target="_blank" >Sign Up</a>
		    </div>
		  
		</div><!-- top bar -->

	  	<div class="row">
		    <div class="col-sm-9">
		    	<div class="row-sm-3">
		    		Board Nav
		    	</div>
		    </div><!-- board lists -->

		    <div class="col-sm-3">
		    	<div class="row-sm-3">
		    		Something Something
		    	</div>
		    
		    </div><!-- menu -->
		</div><!-- board content -->
	</div>
	</body>
</html>