<!DOCTYPE HTML>
<html>
<head>
<title>Crazy Board | Treeeeello</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link id="favicon" rel="icon" type="image/png" sizes="64x64" href="title_logo.png">
</head>

	<body>
	<div class="container-fluid">
		<div class="row">
	    	<div class="col-sm-3">
	    	</div><!-- left controls -->

		    <div class="col-sm-6">
		    </div><!-- trello logo -->

		    <div class="col-sm-3">
		    </div><!-- right controls -->
		  
		</div><!-- top bar -->

	  	<div class="row">
		    <div class="col-sm-9">
		    </div><!-- board lists -->

		    <div class="col-sm-3">
		    </div><!-- menu -->
		</div><!-- board content -->
	</div>
	</body>
</html>