<h1>HEY YA'LL WELCOME</h1>
<p>
	Input the proper credentials to enter the world's most inclusive website. (FARAZ NOT WELCOME!)
</p>

<form action = "/validate" method="POST">
	<input type="text" name = "username" placeholder = "Secret Identity">
	<input type="password" name = "password" placeholder = "THE PASSCODE">	
	<button type="submit">TRESPASS</button> 
</form>