<h1>TOP SECRET PLACE</h1>

<form action="/check_username" method="POST">
<input type="text" name="user" placeholder="Enter your username:"> 
<input type="text" name="password" placeholder="Enter your password:">

<button type="submit">SUBMIT</button>
</form>

