.unicorn-modeblue {
	background-color: blue;
}

.unicorn-modeyellow {
	background-color: yellow;	
}

.unicorn-modegreen {
	background-color: green;	
}

.unicorn-modeorange {
	background-color: orange;	
}