.container.body {
	max-width: 520px;
	

}

.row.main {
	background-color: #f5f5f5;
	padding: 5%;
	
}

.col.main {
	background-color: white;
	padding: 1%;
	max-width: 520px;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}
