<!-- app/views/contacts/new.html.erb -->
<h1>Add a new contact</h1>

<form action="/contacts" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" id="contact_name">
  </div>

  <div>
    <label for="contact_address">Address</label>
    <textarea name="contact[address]" id="contact_address"></textarea>
  </div>

  <div>
    <label for="contact_phone">Phone number</label>
    <input type="tel" name="contact[phone]" id="contact_phone">
  </div>

  <div>
    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" id="contact_email">
  </div>
    <button type="submit">Add this contact</button>
</form>