<h1> MOVIE GAME </h1>

<p>
Welcome to the IMDB movie game. Test your knowledge of movie trivia.
</p>


<h2>Enter a search term to begin:</h2>
<form action="/movie_game/user" method="POST">
	<input type="string" name="user_input" placeholder="Search field">

	<button type="submit">Submit</button>
</form>