<h1> Welcome to the timetracker </h1>

<% unless current_user.nil? %>
	<a href="/users/sign_out" data-method="delete">
	Log out
	</a>

<% else %>
	<a href="users/sign_in">
	Log in
	</a><br>
	
	<a href="users/sign_up">
	Sign up
	</a>
<% end %>
